<div class="container">
    <div class="about">
        <div class="row">
            <div class="col-md-6 flcolu">
                <h4 class="Section-conHead py-2">Hello, <span class="subC">I’m</span></h4>
                <h1 class="Section-conEubHead py-2">Kesavan T</h1>
                <h3 class="section-centerHead py-2">Full-stack Developer</h3>
                <p class="section-text py-2"> Experienced Full-Stack Developer with 5+ years' expertise. Worked on
                    high-traffic sites and small daily-update projects. Committed to responsive, user-friendly designs
                    and timely, quality delivery.</p>
                <a href="https://calendly.com/kesavant1995">
                    <button class="colorbutton">Let’s Talk</button>
                </a>
                <div class="mt-5 d-flex">
                    <p class="section-text me-2 pt-1">Check out My</p>
                    <a href="http://linkedin.com/in/kesa123" class="me-1">
                        <img src="assets/section/linkedin.png" alt="linkedin" height="30" width="30">
                    </a>
                    <a href="http://github.com/k7immortalz" class="me-1">
                        <img src="assets/section/github.png" alt="Github" class="me-1" height="30" width="30">
                    </a>
                    <a href="https://join.skype.com/invite/v453n5DJJVEd" class="me-1">
                        <img src="assets/section/skype.png" alt="skype" height="30" width="30">
                    </a>
                </div>
            </div>
            <div class="col-md-6 imgcon">
                <img src="assets/section/Hero.jpg" alt="ME" class="col-img" width="250" height="300">
            </div>
        </div>
    </div>
    <div class="about">
        <div class="text-center">
            <h4 class="Section-conHead py-2">My Services</h4>
            <h1 class="Section-conEubHead py-2">What I Do</h1>
        </div>

        <section>
            <div class="container">
                <div class="row justify-content-center">


                    <div class="col-8 col-md-6">
                        <div class="jelly-card">
                            <div class="card py-3 ">

                                <div class="row">
                                    <div class="col-10 col-md-4 col-lg-3 jelly-bloc text-center text-md-start">
                                        <img src="https://www.jellypir.at/CODEPEN/picture/autre/fichier4.png"
                                            class="card-img-top card-pic slowfloat2s" alt="meduse">
                                    </div>
                                    <div class="col-12 col-md-8 col-lg-8">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                Front-End
                                            </h5>
                                            <div class="line"></div>
                                            <p class="card-text">
                                                HTML, CSS, JavaScript, and TypeScript are all used to create dynamic web
                                                experiences. React.js expert for reusable and interactive components.
                                                For
                                                user-friendly interfaces, I've worked with Bootstrap and Material UI.
                                                Integration of RESTful APIs for effective data sharing. Strong knowledge
                                                of
                                                Angular 2+ and React.js for developing strong web applications.
                                            </p>
                                            <i class="fas fa-disease slowfloat3s"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>


        <section>
            <div class="container">
                <div class="row justify-content-center">


                    <div class="col-8 col-md-6">
                        <div class="jelly-card">
                            <div class="card py-3 ">

                                <div class="row">
                                    <div class="col-10 col-md-4 col-lg-3 jelly-bloc text-center text-md-start">
                                        <img src="https://www.jellypir.at/CODEPEN/picture/autre/fichier4.png"
                                            class="card-img-top card-pic slowfloat2s" alt="meduse">
                                    </div>
                                    <div class="col-12 col-md-8 col-lg-8">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                Back-End
                                            </h5>
                                            <div class="line"></div>
                                            <p class="card-text">

                                                Experienced with a variety of back-end technologies such as Laravel,
                                                core PHP, Python (Flask and Django), Node.js, and Express. Skilled at
                                                developing efficient and secure server-side architectures for powerful
                                                web applications that are tailored to project requirements.
                                            </p>
                                            <i class="fas fa-disease slowfloat3s"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>


        <section>
            <div class="container">
                <div class="row justify-content-center">


                    <div class="col-8 col-md-6">
                        <div class="jelly-card">
                            <div class="card py-3 ">

                                <div class="row">
                                    <div class="col-10 col-md-4 col-lg-3 jelly-bloc text-center text-md-start">
                                        <img src="https://www.jellypir.at/CODEPEN/picture/autre/fichier4.png"
                                            class="card-img-top card-pic slowfloat2s" alt="meduse">
                                    </div>
                                    <div class="col-12 col-md-8 col-lg-8">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                DataBase
                                            </h5>
                                            <div class="line"></div>
                                            <p class="card-text">
                                                Experienced in MySQL, Firebase, and MongoDB database management for
                                                efficient data operations. Proficient in AWS server administration,
                                                including Elastic Search and Lambda functions, to build high-performance
                                                web solutions on scalable cloud infrastructures.
                                            </p>
                                            <i class="fas fa-disease slowfloat3s"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
    </div>
    <div class="about">
        <div class="text-center">
            <h4 class="Section-conHead py-2">My Skills</h4>
            <h1 class="Section-conEubHead py-2">Technologies I Use</h1>
        </div>
        <app-skills></app-skills>
    </div>
    <div class="about">
        <div class="text-center">
            <h4 class="Section-conHead py-2">My Work History</h4>
            <h1 class="Section-conEubHead py-2">What I've Worked On</h1>
        </div>
        <div class="container">
            <app-collapse></app-collapse>
        </div>
    </div>
    <div class="about">
        <div class="text-center">
            <h4 class="Section-conHead py-2">My Recent Projects</h4>
            <h1 class="Section-conEubHead py-2">What I've Built</h1>
        </div>
        <div class="container">
            <app-curosel></app-curosel>
        </div>
    </div>
</div>