<div class="accordion accordion-flush bg-black" id="accordionFlushExample">
  <div class="accordion-item bg-black">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed bg-blue text-white h5" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Freelancer (OCT-2022 to Present) -India
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
      data-bs-parent="#accordionFlushExample">


      <div class="brn m-3">
        <div class="accordion-body text-white">
          <div class="h4">Build Resume</div>
          <p class="card-text">
            I created a resume-building website with free and paid options, attracting over 10,000 users. For paid
            subscribers, I crafted various resume formats using CSS. The site was developed using HTML, CSS, JavaScript,
            and REST/RESTful APIs. I also handled occasional bug fixing and provided Python development support when
            needed.
          </p>
        </div>
      </div>
      <div class="brn m-3">
        <div class="accordion-body text-white">
          <div class="h4">HourStack</div>
          <p class="card-text">
            I successfully replicated a Time sheet management website for a client, incorporating features like Time
            sheet control and meeting booking systems. The development process involved Angular 12, REST/RESTful APIs,
            and Material UI. I also made contributions to the website's development using Python. Notably, the project
            has garnered over 100 users and is fully operational.
        </div>
      </div>
      <div class="brn m-3">
        <div class="accordion-body text-white">
          <div class="h4">Email Booster</div>
          <p class="card-text">
            I'm currently working on "Email Booster," a web application designed to enhance email communication. It
            boasts a massive database with millions of email records and corresponding credentials. To streamline
            the email-sending process, I've created a Python Flask app that seamlessly integrates SMTP for sending
            emails and IMAP to confirm their placement in recipients' Inboxes. I've also implemented spam handling,
            ensuring that any flagged emails are moved to the Inbox. Data is managed using MongoDB and presented in
            the frontend through Angular, enhancing the user experience. Additionally, I've employed D3.js to craft
            engaging, interactive data visualizations.
          </p>
        </div>
      </div>




    </div>
  </div>
  <div class="accordion-item bg-black">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed bg-blue text-white h5" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Prominent Contact India Pvt. Ltd (APR-2022 to JUL-2022) -India
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
      data-bs-parent="#accordionFlushExample">


      <div class="brn m-3">
        <div class="accordion-body text-white">
          <div class="h4">Infynd UK</div>
          <p class="card-text">

            I developed "Infynd," a B2B data transfer app offering millions of data entries in two categories:
            individual and company-based information. The app features a subscription system that allows users to
            download data using earned subscription points from selected plans. I crafted the landing page using HTML,
            CSS, JavaScript, and PHP. My role also included Angular 8 development, utilizing REST/RESTful APIs for
            JSON-formatted data exchange, and design work using Bootstrap, HTML, and CSS. Currently, Infynd boasts over
            1,000 users.
          </p>
        </div>
      </div>
      <div class="brn m-3">
        <div class="accordion-body text-white">
          <div class="h4">no2bounce</div>
          <p class="card-text">

            I developed an email validation application capable of validating single or multiple emails, assigning
            scores based on SMTP responses: 90, 60, or 'invalid.' Validated emails are displayed in a table, with
            subscription plans for email validation and download (basic, moderate, and premium). I contributed to the
            WordPress landing page, focusing on HTML and CSS components. My role also included Angular 8 development
            with Material UI for design, REST/RESTful APIs for communication, and SCSS for styling. AWS Lambda and
            Elasticsearch were used for data storage and retrieval. Currently, the email validation app has over 1,000
            users.
        </div>
      </div>



    </div>
  </div>
  <div class="accordion-item bg-black">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed bg-blue text-white h5" type="button" data-bs-toggle="collapse"
        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Two Corners Social Pvt. Ltd. (MAR-2020 to APR-2022) -India
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
      data-bs-parent="#accordionFlushExample">


      <div class="brn m-3">
        <div class="accordion-body text-white">
          <div class="h4">ThWorks</div>
          <p class="card-text">
            I created a comprehensive company website featuring company information, portfolios, office projects,
            employee profiles, and a contact page for project inquiries. The site also includes a registration page for
            job seekers, a chat tool for direct HR communication, and a help section for user queries. The landing page
            was developed using PHP, while the entire website was built using HTML, CSS, JavaScript, REST/RESTful APIs,
            and Firebase. Presently, the website has over 20 users.
          </p>
        </div>
      </div>
      <div class="brn m-3">
        <div class="accordion-body text-white">
          <div class="h4">ECO Works</div>
          <p class="card-text">
            I developed a comprehensive travel agency website, encompassing both admin and user sections. Users can
            seamlessly book and confirm slots for buses, trains, flights, and hotels. The admin panel offers a suite of
            features including confirmation, scheduled travel, payment tracking, and database management. Charts are
            used to visually represent revenue and user data. The landing page was created using JavaScript, PHP, HTML,
            and CSS. As an Angular 10 developer, I employed REST/RESTful APIs and Bootstrap in the development process.
            The website is currently in the final stages before its official launch.
        </div>
      </div>
      <div class="brn m-3">
        <div class="accordion-body text-white">
          <div class="h4">Merchant Compare Service</div>
          <p class="card-text">

            I developed a UK merchant payment comparison website specializing in credit card payments. It offers
            features like user login, portfolio management, and payment processing, allowing users to input credit card
            details and access exclusive offers. I served as an Angular 14 developer, utilizing Python and MySQL for
            robust database management. Design elements were crafted using Material UI, and I created REST/RESTful APIs
            to ensure smooth website functionality. Presently, the website enjoys the participation of over 300 users.
          </p>
        </div>
      </div>


    </div>
    <div class="accordion-item bg-black">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed bg-blue text-white h5" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          Ardhas Technologies. (APR-2019 to OCT-2019) -India
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
        data-bs-parent="#accordionFlushExample">
        <div class="brn m-3">
          <div class="accordion-body text-white">
            <div class="h4">Indian Embassy</div>
            <p class="card-text">

              I developed a comprehensive Government Embassy website focused on providing information about the Indian
              Embassy and related citizen services. My role primarily involved PHP Laravel, HTML, CSS, JavaScript, and
              Bootstrap development, with occasional contributions to the MySQL database. The website demanded daily
              updates to keep information current. Remarkably, the website serves billions of users globally.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item bg-black">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed bg-blue text-white h5" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            Agira Technology (SEP-2018 to APR-2019) -India
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
          data-bs-parent="#accordionFlushExample">
          <div class="brn m-3">
            <div class="accordion-body text-white">
              <div class="h4">Indian Embassy</div>
              <p class="card-text">
                During my Angular internship, I gained hands-on experience in Angular (7), sharpening my front-end web
                development skills. I actively collaborated on web application development, improving my proficiency in
                TypeScript, JavaScript, HTML5, CSS3, and Bootstrap. My role included debugging and code enhancement, and
                I actively participated in code reviews, refining my ability to write clean and efficient code. This
                internship deepened my Angular expertise and solidified my commitment to delivering top-notch web
                solutions.
              </p>
            </div>
          </div>
        </div>
      </div>