<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="https://www.infynd.com/uk-data/">
        <img src="assets/cursolImg/infynd.png" class="d-block w-100" alt="...">
      </a>
      </div>
      <div class="carousel-item">
        <a href="https://www.infynd.com/b-2-b-data-intelligence/">
        <img src="assets/cursolImg/uk.png" class="d-block w-100" alt="...">
      </a>
      </div>
      <div class="carousel-item">
        <a href="https://thworks.org/">
        <img src="assets/cursolImg/th.png" class="d-block w-100" alt="...">
      </a>
      </div>
      <div class="carousel-item">
        <a href="https://merchantadviceservice.co.uk/">
        <img src="assets/cursolImg/mk.png" class="d-block w-100" alt="...">
      </a>
      </div>
      <div class="carousel-item">
        <a href="https://eoi.gov.in/">
        <img src="assets/cursolImg/gov.png" class="d-block w-100" alt="...">
      </a>
      </div>
      <div class="carousel-item">
        <a href="https://hourstack.io/">
        <img src="assets/cursolImg/hio.png" class="d-block w-100" alt="...">
      </a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

