<header class="header p-3">
    <nav class="navbar navbar-expand-md bg-black fixed-top border-bottom border-body"
        data-bs-theme="dark">
        <div class="container-fluid px-3">
            <div class="d-flex flexGap fl align-con">
                <figure class="m-0">
                    <img src="assets/navbar/Logo.svg" alt="logo" class="logo-img">
                </figure>
                <h4 class="logo-fontHead m-0">KESAVAN T</h4>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-white align-con1" id="navbarTogglerDemo03">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link actives nav-linkText" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link nav-linkText" href="#">Resume</a>
                    </li>
                  </ul>
            </div>
        </div>
    </nav>
</header>
<section class="section">
    <app-home-content></app-home-content>
</section>
<footer class="footer">
    <div class="container">
       <div class="row text-lg-start text-xl-start text-md-start text-center">
          <div class="col-md-4">
            <h5 class="footer-textHead">
                Company
            </h5>
            <p class="footer-text">
                About Us
            </p>
            <p class="footer-text">
                Why Choose me
            </p>
            <p class="footer-text">
                Pricing
            </p>
            <p class="footer-text">
                Testimonial
            </p>
          </div>
          <div class="col-md-4">
            <h5 class="footer-textHead">
                Resources
            </h5>
            <p class="footer-text">
                Privacy Policy
            </p>
            <p class="footer-text">
                Terms and Condition
            </p>
            <p class="footer-text">
                Blog
            </p>
            <p class="footer-text">
                Contact Us 
            </p>
          </div>
          <div class="col-md-4 cols">
            <h5 class="footer-textHead">
                Talk to me
            </h5>
            <a href="https://calendly.com/kesavant1995">
                <button class="colorbutton">Let’s Talk</button>
            </a>
          </div>
       </div>
    </div>
</footer>